body {
  font-family: "Courier New", Courier, monospace;
  background-color: #eee;
}

h1 {
  text-align: center;
}

.recipe-photo {
  width: 500px;
  height: auto;
}
.description {
  background-color: #fff9c4;
}

.ingredients {
  background-color: #e8f5e9;
}

.steps {
  background-color: #f3e5f5;
}
